<h2>Experiment “<%=h @experiment.name %>”</h2>

<p>
  <b>Description:</b>
  <%= @experiment.description %>
</p>


<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
